<ul class="navigation clearfix">
  <li class="l1 home first {% if page.url == '/Website/' %}selected{% endif %}">
    <a href="/Website/" class="l1 shadow-black-1">Home</a>
  </li>
  <li
    class="l1 game {% if page.url == '/about/' or page.url == '/download/' or page.url == '/faq/' %}selected{% endif %}">
    <a href="/Website/about/" class="l1 shadow-black-1">Game</a>
    <ul class="l2 clearfix">
      <li class="l2 {% if page.url == '/about/' %}selected{% endif %}">
        <a href="/Website/about/" class="l2 shadow-black-1">About Brick-Force Aurora</a>
      </li>
      <li class="l2 {% if page.url == '/download/' %}selected{% endif %}">
        <a href="/Website/download/" class="l2 shadow-black-1">Download Brick-Force Aurora</a>
      </li>
      <li class="l2 {% if page.url == '/faq/' %}selected{% endif %}">
        <a href="/Website/faq/" class="l2 shadow-black-1">FAQ</a>
      </li>
    </ul>
  </li>
  <li class="l1 media">
    <a href="/Website/screenshots/" class="l1 shadow-black-1">Media</a>
    <ul class="l2 clearfix">
      <li class="l2">
        <a href="/Website/screenshots/" class="l2 shadow-black-1">Screenshots</a>
      </li>
      <li class="l2">
        <a href="/Website/videos/" class="l2 shadow-black-1">Videos</a>
      </li>
    </ul>
  </li>
  <li class="l1 community {% if page.url == '/roadmap/' %}selected{% endif %}">
    <a href="/Website/roadmap/" class="l1 shadow-black-1">Community</a>
    <ul class="l2 clearfix">
      <li class="l2 {% if page.url == '/roadmap/' %}selected{% endif %}">
        <a href="/Website/roadmap/" class="l2 shadow-black-1">Roadmap</a>
      </li>
    </ul>
  </li>
  <li class="l1 forum">
    <a href="/Website/ServerHealth/" class="l1 shadow-black-1">Server</a>
  </li>
  <li class="l1 shop last">
    <a href="/Website/" class="l1 shadow-black-1">Shop</a>
  </li>
</ul>