<aside id="sidebar" class="clearfix">
  <div class="special-teaser">
    <!-- DOWNLOAD -->
    <div class="download eu">
      <span class="cooper">Cooper</span>
      <a class="eu" href="/Website/download/">
        <span class="text1 shadow-white-1">Download</span>
      </a>
      <p>Download Brick-Force Aurora</p>
    </div>
    <!-- /DOWNLOAD -->

    <div class="dynamicTeaser oneLine">
      <a href="https://www.patreon.com" target="_blank" style="background-image:url('/Website/images/donate.jpeg');">
        Donate
      </a>
    </div>
    <!--<div class="dynamicTeaser twoLines">
<a href="index.html" style="background-image:url('img/big_5138d7b399862.jpeg');">
<span class="text1 shadow-white-1">Episode 47</span>
<span class="text2 shadow-white-1">Action Items</span>
</a>
</div>
<div class="dynamicTeaser twoLines">
<a href="index.html" style="background-image:url('img/big_5138aff99e948.jpeg');">
<span class="text1 shadow-white-1">Premium</span>
<span class="text2 shadow-white-1">Account</span>
</a>
</div>-->
    <div class="dynamicTeaser twoLines">
      <a href="https://discord.gg/uppNvBvb4P" style="background-image: url('/Website/images/big_5138b04f7a758.jpeg')"
        rel="external">
        <span class="text1 shadow-white-1">Support</span>
        <span class="text2 shadow-white-1">We're here to help</span>
      </a>
    </div>
    <div class="dynamicTeaser oneLine">
      <a href="/Website/faq/">FAQ</a>
    </div>
  </div>

  <div class="sidebox socialNetworks">
    <h5>Social networks<span class="icon i3"></span></h5>
    <div class="body">
      <dl>
        <dt>
          <a href="https://discord.gg/qktjAYsKwH" target="_blank"><span class="icon fb">&nbsp;</span>Discord</a>
        </dt>
        <dd>Join our Discord Server, brick soldier</dd>
        <dt>
          <a href="https://github.com/Brick-Force-Aurora/Brick-Force" target="_blank"><span
              class="icon tw">&nbsp;</span>GitHub</a>
        </dt>
        <dd>Look at the Repository.</dd>
      </dl>
    </div>
  </div>
</aside>