<div id="teaser">
  <ul>
    <li class="active">
      <a href="#teaser1" style="background-image: url('/Website/images/big_57b1f27a559a6.jpeg')"
        title="It's Sales-Time! - New Stuff in the Shop! Feedback wanted!"><span>It&#039;s Sales-Time!</span></a>
    </li>
    <li>
      <a href="#teaser2" style="background-image: url('/Website/images/big_57a367869ea31.jpeg')"
        title="Map of the Month - July - The Winners are chosen!"><span>Map of the Month - July</span></a>
    </li>
    <li>
      <a href="#teaser3" style="background-image: url('/Website/images/big_57a35c6fd4455.jpeg')"
        title="Map of the Month June - Winners at the ready!"><span>Map of the Month June</span></a>
    </li>
    <li>
      <a href="#teaser4" style="background-image: url('/Website/images/big_57a35b72e22ad.jpeg')"
        title="Map of the Month May - The Winners!"><span>Map of the Month May</span></a>
    </li>
    <li>
      <a href="#teaser5" style="background-image: url('/Website/images/big_56c71c91d2f6f.jpeg')"
        title="Map of the Month February - Get working on those maps!"><span>Map of the Month February</span></a>
    </li>
  </ul>
  <div class="body">
    <div class="scrollable">
      <div id="teaser1">
        <p class="image">
          <a href="/Website/" style="background-image: url('/Website/images/big_57b1f27a559a6.jpeg')"></a>
        </p>
        <p class="title">
          <a href="/Website/"><strong>It&#039;s Sales-Time!</strong><br />New Stuff in the Shop!
            Feedback wanted!</a>
        </p>
      </div>
      <div id="teaser2">
        <p class="image">
          <a href="/Website/" style="background-image: url('/Website/images/big_57a367869ea31.jpeg')"></a>
        </p>
        <p class="title">
          <a href="/Website/"><strong>Map of the Month - July</strong><br />The Winners are
            chosen!</a>
        </p>
      </div>
      <div id="teaser3">
        <p class="image">
          <a href="/Website/" style="background-image: url('/Website/images/big_57a35c6fd4455.jpeg')"></a>
        </p>
        <p class="title">
          <a href="/Website/"><strong>Map of the Month June</strong><br />Winners at the
            ready!</a>
        </p>
      </div>
      <div id="teaser4">
        <p class="image">
          <a href="/Website/" style="background-image: url('/Website/images/big_57a35b72e22ad.jpeg')"></a>
        </p>
        <p class="title">
          <a href="/Website/"><strong>Map of the Month May</strong><br />The Winners!</a>
        </p>
      </div>
      <div id="teaser5">
        <p class="image">
          <a href="/Website/" style="background-image: url('/Website/images/big_56c71c91d2f6f.jpeg')"></a>
        </p>
        <p class="title">
          <a href="/Website/"><strong>Map of the Month February</strong><br />Get working on
            those maps!</a>
        </p>
      </div>
    </div>
  </div>
</div>