.content h1 span.avatar {
  position: absolute;
  left: 4px;
  top: 2px;
  width: 64px;
  height: 52px;
  background-image: url("/Website/images/head_icons.jpg");
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.content h1 span.label {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 485px;
  height: 60px;
  background: url("/Website/images/head_content.png") left top no-repeat;
  line-height: 60px;
  padding: 0 0 0 85px;
}

.content.game-abf {
  background-image: url("/Website/images/about_background.jpg");
}

.content.game-abf h1 span.avatar {
  background-position: 0 0;
}

.de
  #container
  #website
  #main
  #content
  .content.game-abf
  .box-center
  a.button-unity {
  font-size: 17px;
}

.fr
  #container
  #website
  #main
  #content
  .content.game-abf
  .box-center
  a.button-unity {
  font-size: 15px;
}

.es
  #container
  #website
  #main
  #content
  .content.game-abf
  .box-center
  a.button-unity {
  font-size: 13px;
}

.content.game-abf .box-center a.button-unity:hover {
  background-position: bottom left;
}

.content.game-abf .box-center p {
  text-align: left;
}

.content.game-abf .box-left.char-1 {
  min-height: 230px;
  background: url("/Website/images/char-1.png") 95% 10% no-repeat;
}

.content.game-abf .box-right.char-2 {
  min-height: 250px;
  background: url("/Website/images/char-3.jpg") 30px 15% no-repeat;
}

.content.game-abf .box-left.char-3 {
  min-height: 210px;
  background: url("/Website/images/char-2.jpg") 90% 15% no-repeat;
}
