.content h1 span.avatar {
  position: absolute;
  left: 4px;
  top: 2px;
  width: 64px;
  height: 52px;
  background-image: url("/Website/images/head_icons.jpg");
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.content h1 span.label {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 485px;
  height: 60px;
  background: url("/Website/images/head_content.png") left top no-repeat;
  line-height: 60px;
  padding: 0 0 0 85px;
}

.content.game-cbfaq {
  background-image: url("/Website/images/background.jpg");
}

.content.game-cbfaq h1 span.avatar {
  background-position: 0 -52px;
}

.content.game-cbfaq dl.faq {
  margin: 0 15px 30px 0;
}

.content.game-cbfaq dl.faq dt {
  position: relative;
  cursor: pointer;
  border: solid 1px #bdc8cd;
  background: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 0 0 4px;
}

.content.game-cbfaq dl.faq dt .hl {
  display: block;
  background: #fafafa;
  margin: 3px;
  padding: 3px 38px 3px 6px;
  min-height: 24px;
  font-size: 14px;
  font-weight: normal;
  color: #0f0f0f;
  line-height: 18px;
}

.content.game-cbfaq dl.faq dt .hl:hover,
.content.game-cbfaq dl.faq dt.open .hl {
  background: #c7dff7;
}

.content.game-cbfaq dl.faq dt .condition {
  position: absolute;
  right: 4px;
  top: 4px;
  display: block;
  width: 28px;
  height: 28px;
  background: url("/Website/images/condition.gif") left bottom no-repeat;
}

.content.game-cbfaq dl.faq dt.open .condition {
  background-position: left top;
}

.content.game-cbfaq dl.faq dd {
  background: url("/Website/images/content.png") top left no-repeat;
  margin: 0 0 4px 34px;
}

.content.game-cbfaq dl.faq dd p {
  padding: 10px;
  color: #0f0f0f;
}
